/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2016, 11:00:58
    Author     : sande
}
*/

@font-face
{
    font-family: Agency FB;
    font-weight: normal;
    src: url('../fonts/Agency_FB.ttf');
}

@font-face
{
    font-family: Agency FB;
    font-weight: bold;
    src: url('../fonts/Agency_FB_Bold.ttf');
}

#skillVBox HBox
{
    -fx-border-color: #1471b7;
    -fx-border-width: 4 8 4 8;
    -fx-border-radius: 100;
}

#logoutImage
{
    -fx-color: black;
}

.commentBoxInPane
{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 22px;
}

.studentScreenTextChange
{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 24px;
}

.glowingEdgeButton
{
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-color: #1471b7;
    -fx-border-radius: 500px;
    -fx-background-radius: 500px;
}

#addAttitudeFieldl
{
    -fx-background-radius: 150px;
    -fx-border-radius: 150px;
    -fx-border-color: #1471b7;
    -fx-border-width: 2px;
}

.formRectangle
{
    -fx-fill: white;
    -fx-stroke: #1471b7;
    -fx-stroke-width: 3px;
    -fx-arc-width: 50px;
    -fx-arc-height: 50px;
}

#glowingEdgeButtonRectangle
{
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-color: #1471b7;
}

.roundedCornersAdaptation
{
    -fx-padding: 2px;
    
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.rectangleColoredBorders
{
    -fx-fill: #1471b7;
}

.evaRadioButtons
{
    -fx-scale-y: 1.5;
    -fx-scale-x: 1.5;
}

#attitudeImageAnchorPane
{
    -fx-background-color: black;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
}

.dashboardClarityLabels
{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 24px;
    -fx-opaque: black;
    -fx-text-fill: #1471b7;
}

.listview
{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: #1471b7;
    -fx-border-width: 3px;
    -fx-padding: 25 2 25 2;
}

.loginButton
{
    -fx-background-radius: 100;
/*    -fx-background-color: white;*/
    
    -fx-border-radius: 100;
    -fx-border-width: 3px;
    -fx-border-insets: 0 0 -1 0;
    -fx-border-color: #1471b7;
    
    -fx-text-fill: #1471b7;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-font-family: 'Agency FB';
}

#loginButtonDelete /* Only for the "Verwijderen" button */
{
    -fx-background-radius: 100;
    
    -fx-border-radius: 100;
    -fx-border-width: 3px;
    -fx-border-insets: 0 0 -1 0;
    -fx-border-color: red;
    
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-family: 'Agency FB';
    -fx-font-size: 22px; 
    /* Scenebuilder thinks you're overwriting font size 
    when you set the font family in CSS, 
    that's why you have to set the font size as well */
}

#syncButton
{
    -fx-background-image: url("../images/synch.png");
    -fx-background-color: transparent;
    -fx-background-size: 100px;
    -fx-background-repeat: no-repeat;
}

.labelFont
{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 25px;
}

.topLabelFont
{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 40px;
}

#studentName
{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 30px;
}

.list-cell 
{
  -fx-font-weight: bold;
  -fx-font-family: 'Agency FB';
  -fx-font-size: 18px;
}

.slider .axis
{
    -fx-tick-label-fill: white;
}

#dashboard
{
    -fx-background-image: url('../images/dashboard.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#minusButton
{
    -fx-graphic: url("../images/Minusbutton.png");
    -fx-background-color: transparent;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#plusButton
{
    -fx-graphic: url("../images/Plusbutton.png");
    -fx-background-color: transparent;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#terugknop
{
    -fx-graphic: url("../images/return-button.png");
    -fx-background-color: black;
    -fx-background-radius: 500;
}

#infoButton
{
    -fx-graphic: url("../images/infoIconSmaller.png");
    -fx-background-radius: 500;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-color: white;
}

#infoButton:selected
{
    -fx-background-color: #1471b7;
}

#nameLabel
{
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-font-family: 'Agency FB';
    -fx-text-fill: white;
}

.borderedTextAreaPane
{
    -fx-background-radius: 25px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #1471b7;
}

#studentScreenKeyboardClosePane
{
    -fx-padding: 2;
    -fx-background-color: white;
    -fx-background-radius: 250;
}
