/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2016, 11:00:58
    Author     : sande
    -fx-color: green;
    -fx-fill: green;
    -fx-background-color: green;
.toggle-button:selected {
    -fx-background-color: blue;
-fx-graphic: "/images/switches/banden.png";
}
*/

#listview
{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: #1471b7;
    -fx-border-width: 2px;
}

.loginButton
{
    -fx-background-radius: 100;
/*    -fx-background-color: white;*/
    
    -fx-border-radius: 100;
    -fx-border-width: 3px;
    -fx-border-insets: 0 0 -1 0;
    -fx-border-color: #1471b7;
    
    -fx-text-fill: #1471b7;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-font-family: "Agency FB";
}

#loginButtonDelete /* Only for the "Verwijderen" button */
{
    -fx-background-radius: 100;
    
    -fx-border-radius: 100;
    -fx-border-width: 3px;
    -fx-border-insets: 0 0 -1 0;
    -fx-border-color: red;
    
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-family: "Agency FB";
    -fx-font-size: 22px; 
    /* Scenebuilder thinks you're overwriting font size 
    when you set the font familt in CSS, 
    that's why you have to set the font size as well */
}

#syncButton
{
    -fx-background-image: url("../images/synch.png");
    -fx-background-color: transparent;
    -fx-background-size: 100px;
    -fx-background-repeat: no-repeat;
}

.labelFont
{
    -fx-font-family: "Agency FB";
    -fx-font-size: 25px;
}

.topLabelFont
{
    -fx-font-family: "Agency FB";
    -fx-font-size: 40px;
}

#studentName
{
    -fx-font-family: "Agency FB";
    -fx-font-size: 30px;
}

.slider .axis
{
    -fx-tick-label-fill: white;
}

#dashboard
{
    -fx-background-image: url('../images/dashboard.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#minusButton
{
    -fx-graphic: url("../images/Minusbutton.png");
    -fx-background-color: transparent;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#plusButton
{
    -fx-graphic: url("../images/Plusbutton.png");
    -fx-background-color: transparent;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#terugknop
{
    -fx-graphic: url("../images/return-button.png");
    -fx-background-color: black;
    -fx-background-radius: 500;
    -fx-max-width:65px;
    -fx-max-height:65px;
}