/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2016, 13:15:02
    Author     : sande
*/

.toggle-button {
    -fx-background-color: black;
}

#banden{
    -fx-graphic: url("/images/switches/banden.png");
}

#banden:selected{
    -fx-graphic: url("/images/switches/bandendone.png");
}

#bebouwdekom{
    -fx-graphic: url("/images/switches/bebouwdekom.png");
}

#bebouwdekom:selected{
    -fx-graphic: url("/images/switches/bebouwdekomDone.png");
}

#dubbelvaksbaan{
    -fx-graphic: url("/images/switches/dubbelvaksbaan.png");
}

#dubbelvaksbaan:selected{
    -fx-graphic: url("/images/switches/dubbelvaksbaanDone.png");
}

#gps{
    -fx-graphic: url("/images/switches/gps.png");
}

#gps:selected{
    -fx-graphic: url("/images/switches/gpsDone.png");
}

#lichten{
    -fx-graphic: url("/images/switches/lichten.png");
}

#lichten:selected{
    -fx-graphic: url("/images/switches/lichtenDone.png");
}

#noodstop{
    -fx-graphic: url("/images/switches/noodstop.png");
}

#noodstop:selected{
    -fx-graphic: url("/images/switches/noodstopDone.png");
}

#olie{
    -fx-graphic: url("/images/switches/oliecheck.png");
}

#olie:selected{
    -fx-graphic: url("/images/switches/oliecheckDone.png");
}

#rondpunt{
    -fx-graphic: url("/images/switches/rondpunt.png");
}

#rondpunt:selected{
    -fx-graphic: url("/images/switches/rondpuntDone.png");
}

#snelweg{
    -fx-graphic: url("/images/switches/snelweg.png");
}

#snelweg:selected{
    -fx-graphic: url("/images/switches/snelwegDone.png");
}

#tanken{
    -fx-graphic: url("/images/switches/tanken.png");
}

#tanken:selected{
    -fx-graphic: url("/images/switches/tankenDone.png");
}
#noodstop{
    -fx-graphic: url("/images/switches/noodstop.png");
}

#noodstop:selected{
    -fx-graphic: url("/images/switches/noodstopDone.png");
}

#oliecheck{
    -fx-graphic: url("/images/switches/oliecheck.png");
}

#oliecheck:selected{
    -fx-graphic: url("/images/switches/oliecheckDone.png");
}