/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2016, 11:00:58
    Author     : sande
    -fx-color: green;
    -fx-fill: green;
    -fx-background-color: green;
.toggle-button:selected {
    -fx-background-color: blue;
-fx-graphic: "/images/switches/banden.png";
}
*/


.slider .axis
{
    -fx-tick-label-fill: white;
}

#dashboard
{
    -fx-background-image: url('/images/dashboard.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
}

#menuButton
{
    -fx-graphic: url("../images/drivepane/menuButtonSmall.png");
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 50px;
    -fx-min-width: 50px;
}

#minusButton
{
    -fx-graphic: url("../images/Minusbutton.png");
    -fx-background-color: black;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#plusButton
{
    -fx-graphic: url("../images/Plusbutton.png");
    -fx-background-color: black;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#terugknop
{
    -fx-graphic: url("../images/return-button.png");
    -fx-background-color: black;
    -fx-max-width:50px;
    -fx-max-height:50px;
}

#exclamationMark
{
    -fx-graphic: url("../images/drivepane/exclamationMarkSmall.png");
}

#exclamationMark:selected
{
    -fx-base: #40B1D6; 
}
